#newResguardo{
    position: fixed; 
    top: 10%; 
    left: 80%; 
    background-color: rgba(250, 250, 250, .3); 
    color: black; 
    width: 15%;
}

#RESGUARDO_CELULARES{
    display: none;
}
#RESGUARDO_EQUIPO_COMPUTO{
    display: none;
}

.modal-backdrop{
    height: 2000px !important;
}

#updateResguardo{
    display: none;
}

#updateResguardoEquipoComputo{
    display: none;
}
